
.line {
  fill:none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
path.domain { fill: white; }
.tick text { fill:black;}


body{
  background-color:white; 
  font-size: 15px ;  
  font-family: sans-serif;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  border-collapse: collapse;
  border-spacing: 0;

}

table {
    font-family: "Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    border-collapse: collapse;
    border-spacing: 0;
} 
 
table {
    margin: auto;
}  

table, td, th {
    padding: 8px 8px;
     text-align: left; 
    /* border: 1px solid rgb(0, 0, 0); */
}

th {
    background-color: rgb(109, 124, 192);
    color:white;
} 



text {
    font-family:"Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
    fill: white;
    text-anchor: left;
    text-decoration-color: brown;
}


#table {
  /*margin-left: 50px;*/
  position: absolute;
  left:80px;
  top:20px;
  width:400px;
  height:400px;  
}
  
#table1 {
  /* margin-right: 50px; */
  position: absolute;
  top:20px;
  left: 500px;
  width:450px;
  height:400px;   /* Height of the footer */
}

#graph {
  /* margin-right: 50px; */
  position: absolute;
  top:300px;
  left: 50px;
  width:450px;
  height:400px;   /* Height of the footer */
}





