.arc text{
    font: 12px sans-serif;
    text-anchor: middle;
}

.arc path{
    stroke: #fff;
    opacity: 0.9;
}

.arc2 text{
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc2 path{
    stroke: #fff
}

.title {
    /* font-size: 1.5em; */
    text-anchor: middle;
    font: 20px sans-serif;

    
}